@model IEnumerable<WorkScheduler.Models.DepartmentModel>

@{
    ViewData["Title"] = "ListDepartmentsForCalendar";
}
    <br />
<h4>Weekly hours</h4>

    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="row">
                    SHORT NAME
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr class="table-light">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => department.Name)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => department.ShortName)
                    </td>
                    <td>
                        <a asp-action="Display" asp-controller="Calendar" asp-route-departmentId="@department.DepartmentId">Show Calendar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


