
@{
    ViewData["Title"] = "Success";
}

    <div class="text-center">
        <h1 class="display-4">Successfully updated</h1>
        
        <img class="img-fluid" src="/images/bg-masthead.jpg" alt="" />
    </div>

