@{
    ViewData["Title"] = "Home Page";
}


<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4><em>"Simplicity is the ultimate sophistication"</em></h4>
    <img class="img-fluid" src="/images/demo-image-01.jpg" alt="" />
</div>
