@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@ViewData["Title"]</h1>

<p>Oft ic sceolde ana uhtna gehwylce mine ceare cwiþan. Nis nu cwicra nan þe ic him modsefan minne durre sweotule asecgan. Ic to soþe wat þæt biþ in eorle indryhten þeaw, þæt he his ferðlocan fæste binde, healde his hordcofan, hycge swa he wille. Ne mæg werig mod wyrde wiðstondan, ne se hreo hyge helpe gefremman. Forðon domgeorne dreorigne oft in hyra breostcofan bindað fæste; swa ic modsefan minne sceolde, oft earmcearig, eðle bidæled, freomægum feor feterum sælan, siþþan geara iu goldwine minne hrusan heolstre biwrah, ond ic hean þonan wod wintercearig ofer waþema gebind, sohte seledreorig sinces bryttan, hwær ic feor oþþe neah findan meahte þone þe in meoduhealle mine wisse, oþþe mec freondleasne frefran wolde, wenian mid wynnum.</p>
<br />
<img style="height: 100%; width: 100%; display: block;" src="/images/nevada_endless_road_bw.jpg" alt="Card image">